/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

h1 {
    color: white;
    text-align: center;
    font-size: 5vw;
}

h2 {
    text-align: center;
    color: white;
    background-color: rgb(58, 8, 8);
    border: 7.5px black solid;
    border-radius: 15px;
    margin-bottom: 1vw;
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    margin-top: 3vw;
}

p {
    color: rgb(197, 197, 197);
    text-align: center;
    margin: 1vw;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 7.5px 15px;
    background: rgb(44, 6, 6);
    border: 10px black solid;
    border-radius: 20px;
    margin: 5vw;
    
    text-decoration: none;
    color: initial;
}

a.button:hover {
    text-decoration: none;
    background: rgb(77, 10, 10);
    border-color: rgb(39, 2, 2);
}

.play {
    background-image: url(../img/play.png);
    width: 20%;
    height: 110px;
    margin-top: 3%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: 43%;
    position: absolute;
    
}

.play:hover {
    transition: 0.5s;
    filter: hue-rotate(40deg);
}



body {
    font-family: sans-serif;
}
span {
    text-decoration: underline;
}
nav {
    background: black;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
    margin-right: 2vw;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.logo a,
.toggle a {
    font-size: 20px;
}

.logo {
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 200px;
}
.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* Order wordt gebruikt om een logische volgorde te geven aan de menu items. */
.toggle {
    order: 1;
}
.item.button {
    order: 2;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}
body{
    /* Set backround image */
    background-image: url(../img/slime.png);
    /* Let the background image cover the whole page */
    background-size: cover;
    /* Do not let the background repeat, only one time the image is shown */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content{
    width: 50%;
    height: 20%;
    /* background: rgba(0, 151, 19, 0.3); */
    /* Center the content in tablet mode */
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    padding: 1%;
    padding-bottom: 200%;
    border-radius: 5%;
    /* border-style: solid;
    border-color: black; */
    background-image: url(../img/border.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.content.div {
    height: 500px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}


/* Tablet menu */
@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
    body{
        background-image: url(../img/slime.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .content{
        width: 50%;
        height: 20%;
        /* background: rgba(0, 151, 19, 0.3); */
        /* Center the content in tablet mode */
        margin: auto;
        margin-top: 20%;
        border-radius: 5%;
        /* border-style: solid;
        border-color: black; */
        padding-bottom: 130%;
        font-size: 2.5vw;
        text-align: center;
        background-image: url(../img/border.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}

/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
    body{
        background-image: url(../img/slime.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .content{
        width: 40%;
        height: 100%;
        /* background: rgba(0, 151, 19, 0.3); */
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 15%;
        padding-bottom: 30%;
        border-radius: 5%;
        /* border-style: solid;
        border-color: black; */
        /* To scale the text within the container i used vw instead of px */
        font-size: 1.2vw;
        /* Align the text to the left */
        text-align: left;
        background-image: url(../img/border.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* border-width: 20px; */
        
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }
}